img {
    display:block;
    margin:auto;
}
header {
    background-color: black;
    width: 100%;
    font-family: "Courier New", monospace;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    font-family: copperplate;
  }
  
  ol li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ol li a:hover {
    background-color: grey;
  }
  ol li a.active {
    background-color: blue;
  }
  ol li a:visited{
    color: white;
  }
  body {
    background-color: gray;
    font-family: "Courier New", monospace;
  }

  h1 {
    color: white;
    font-family: copperplate;
    text-align: center;
  }

  ul a:link {
    color:black;
  }
  ul a:visited{
    color: black;
  }
