img {
    display:block;
    margin:auto;
}
header {
    background-color: black;
    width: 100%;
    font-family: "Courier New", monospace;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    font-family: copperplate;
    z-index: 1000;
  }
  
  ol li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ol li a:hover {
    background-color: grey;
  }
  ol li a.active {
    background-color: blue;
  }
  ol li a:visited{
    color: white;
  }
  body {
    background-color: gray;
    font-family: "Courier New", monospace;
  }

  h1 {
    color: white;
    font-family: copperplate;
    text-align: center;
  }

  ul a:link {
    color:black;
  }
  ul a:visited{
    color: black;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: white;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: red;
    color:black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn:active{
    background-color: blue;
  }
  .dropbtn.active:hover {
    background-color: blue;
}
* {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }
  }
